<section class="max-w-6xl mx-auto py-8 px-4">
    <h2 class="text-2xl font-bold mb-6 text-cyan-300">Tratamientos Personalizados</h2>
    <p class="mb-6 text-gray-300">Descubre nuestra selección de tratamientos personalizados para el
        cuidado de tus pies. Nuestros productos magistrales están formulados por expertos para abordar tus necesidades
        específicas, brindándote alivio y bienestar. ¡Explora nuestra gama de soluciones podológicas y encuentra el
        producto perfecto para ti!</p>

    <!-- Productos -->
    <div *ngIf="loading()" class="text-center py-8">Proximamente disponible!!...</div>
    <div *ngIf="!loading() && productos().length === 0" class="text-center py-8 text-gray-500">
        No se encontraron productos.
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <app-product-card *ngFor="let producto of productos()" [producto]="producto"
            (agregarProducto)="agregarProducto(producto)">
        </app-product-card>
    </div>

    <!-- Modal de producto -->
    <app-modal-producto *ngIf="modalAbierto() && productoSeleccionado()" [product]="productoSeleccionado()!"
        [close]="cerrarModal">
    </app-modal-producto>


</section>