<section class="max-w-6xl mx-auto py-8 px-4">
    <h2 class="text-2xl font-bold mb-6 text-cyan-700 dark:text-cyan-300">Productos Magistrales</h2>
    <p class="mb-6 text-gray-700 dark:text-gray-300">Descubre nuestra selección de preparados magistrales para el
        bienestar y salud de tus pies. Filtra por nombre o rango de precios para encontrar el producto ideal.</p>


    <!-- Productos -->
    <div *ngIf="loading()" class="text-center py-8">Proximamente disponible!!...</div>
    <div *ngIf="!loading() && productos().length === 0" class="text-center py-8 text-gray-500">
        No se encontraron productos.
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <app-product-card *ngFor="let producto of productos()" [producto]="producto"
            (agregarProducto)="agregarProducto(producto)">
        </app-product-card>
    </div>

    <!-- Modal de producto -->
    <app-modal-producto *ngIf="modalAbierto() && productoSeleccionado()" [product]="productoSeleccionado()!"
        [close]="cerrarModal">
    </app-modal-producto>


</section>